
cifar10/cifar-10-batches-py/data_batch_5
base_model_saved/resnet18_base.pth
*.meta
cifar10/cifar-10-batches-py/data_batch_1
cifar10/cifar-10-batches-py/data_batch_3
base_model_saved/resnet18_base.pth
cifar10/cifar-10-batches-py/data_batch_2
cifar10/cifar-10-batches-py/readme.html
cifar10/cifar-10-batches-py/data_batch_4
cifar10/cifar-10-batches-py/test_batch
cifar10/cifar-10-python.tar.gz
models/__pycache__/resnet_last_down_extract.cpython-38.pyc
base_model_saved/resnet18_base.pth
